body {
	background-color: #007d9c;
	color: white;
}

#main {
	width: 80vw;
	display: flex;
	margin: auto;
	flex-flow: column;
	justify-content: center;
}

#main > div {
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
